<?xml version="1.0"?>
<configuration>

  <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <encoder charset="UTF-8">
      <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 日志级别 -->
  <root>
    <appender-ref ref="console"/>
    <level value="info"/>
  </root>

</configuration>